@import "./middle/contents.scss";
@import "./middle/narBar.scss";
@import "./middle/rightBar.scss";
@import "common.scss";
@font-face {
  font-family: "SourceHanSansCN";
  src: url("../assets/fonts/SourceHanSansCN-Medium.otf");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: "Ananda1";
  src: url("../assets/fonts/AnandaBlackPersonalUse.ttf");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: "Ananda2";
  src: url("../assets/fonts/AnandaPersonalUse.ttf");
  /* Safari, Android, iOS */
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.app-main{
  padding-top: 3rem;
}

#main-img {
  top: 0;
  left: 0;
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(231, 228, 228);
}

.header {
  top: 0;
  left: 0;
  z-index: 5;
  // opacity: 0.7;
  background-color: white;
  height: 3rem;
  width: 100%;
  position: fixed;
  .header-content {
    width: 65rem;
    height: 100%;
    margin: auto;
    padding-left: 1rem;
    box-sizing: border-box;
    line-height: 3rem;
    .head-word {
      position: fixed;
      background-color: white;
      font-weight: bold;
      font-family: "Ananda2";
      font-size: 1.1rem;
      // top: calc((4rem - 1.5rem) / 2);
      color: black;
    }
    .head-search{
      float: right;
      padding-right: 4rem;
      cursor: pointer;
      i{
        color: rgba($color: #000000, $alpha: 0.5);
        margin-left: 0.3rem;
      }
      input{
        border-radius: 5px;
        height: 1.3rem;
        border: 1px solid rgba(128, 128, 128,0.2);
        outline: none;
      }
    }
  }
}

.container {
  position: relative;
  width: 65rem;
  min-height: 100rem;
  margin: auto;
  display: flex;
  padding-top: 3.7rem;
  box-sizing: border-box;
  // overflow: hidden;
}

.footer{
  width: 100%;
  height: 4.5rem;
  background-color: rgb(243, 243, 243);
  text-align: center;
  line-height: 4.5rem;
  font-size: 0.8rem;
  user-select: none;
}
